@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dino-Diner</h1>
<img src="~/images/DinoDiner-32.png" height="600" width="600" />
<a asp-page="/About">About</a>
<a asp-page="/Menu">Menu</a>
<a asp-page="/Privacy">Privacy</a>
